<section>
	<article class="pv3 ph1 ph5-l center mw6 mw7-l">

		{% if home %}
			<div class="ph3 pt5">
		{% else %}
				{% include 'partials/breadcrumb.twig' %}
			<div class="ph3">
		{% endif %}

		{% if content is empty %}

			<h1>{{ item.name }}</h1>

		{% endif %}

			<h1>{{ title }}</h1>
		
		{{ content }}

		</div>
	</article>
</section>
<section>
	<div class="ph0 ph5-l center mw6 mw7-l">
		<ul class="list w-100 pa0">


			{% if item.contains == 'pages' %}

					{% for element in item.folderContent %}

						{% set page = getPageMeta(settings, element) %}

						<li class="hover-bg-custom-gray dib w-100 bt b--custom-gray">
							<a class="link dark-gray" href="{{ element.urlAbs }}">
								<div class="pv2 ph3">
									<h2 class="mb2">{{ page.meta.title }}</h2>
									<p>{{ page.meta.description }}</p>
								</div>
							</a>
						</li>
		 
					{% endfor %}

			{% elseif item.contains == 'posts' %}


				{% set pagesize = 10 %}
				{% set pages = ( item.folderContent|length / pagesize)|round(0, 'ceil') %}
				{% set currentpage = currentpage ? currentpage : 1 %}
				{% set currentposts = (currentpage - 1) * pagesize %} 

					{% for element in item.folderContent|slice(currentposts, pagesize) %}

						{% set post = getPageMeta(settings, element) %}
						{% set date = element.order[0:4] ~ '-' ~ element.order[4:2] ~ '-' ~ element.order[6:2] %}

						<li class="hover-bg-custom-gray dib w-100 bt b--custom-gray">
							<a class="link dark-gray" href="{{ element.urlAbs }}">
								<div class="pv2 ph3">
									<h2 class="mb2">{{ post.meta.title }}</h2>
									<small>{{ date | date("d.m.Y") }} | {{ post.meta.author }}</small>
									<p>{{ post.meta.description }}</p>
								</div>
							</a>
						</li>
									
					{% endfor %}


					{% if pages > 1 %}
						<div class="pv2 ph3">
							<hr class="mv4">
							<p>Page: 
								{% for i in 1 .. pages %}
									{% if i == currentpage %}
										{{i}}
									{% else %}
										<a class="page" href="{{ item.urlAbs }}/p/{{i}}">{{i}}</a>
									{% endif %}
								{% endfor %}
							</p>
						</div>
					{% endif %}

					
			{% endif %}	

		</ul>
	</div>
</section>